/**
* Website Layout Styles
*/
.website-layout {
  display: flex;
  min-height: 100vh;
  padding-top: 70px;
  background: #f5f5f5;

  .sidebar-container{
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
  }

  .website-main{
    flex: 1;
    margin-left: 280px;
    background: #f5f5f5;
  }
}

.website-layout-no-sidebar {
  display: flex;
  min-height: 100vh;
  padding-top: 70px;
  background: #f5f5f5;

  .website-main-full {
    flex: 1;
    width: 100%;
    background: #f5f5f5;
  }
}